@import "tailwindcss";
@import "tailwindcss-primeui";

.sr-only-label .p-button-label {
    @apply sr-only;
  }
/* @custom-variant dark (&:where(.p-dark, .p-dark *));

.p-datatable-mask {
  @apply backdrop-blur-sm! bg-surface-0/20! dark:bg-surface-900/20!;
}

.p-datatable-loading-icon {
  @apply text-primary!;
} */