<div class="min-h-screen flex flex-col">
  <header class="shrink-0">
    <p-toolbar>
      <ng-template #start></ng-template>
      <ng-template #center> </ng-template>
      <ng-template #end>
        <router-outlet name="actions"></router-outlet>
      </ng-template>
    </p-toolbar>
  </header>

  <main class="flex-1 overflow-hidden flex">
    <div class="flex-1 flex overflow-hidden">
      <router-outlet></router-outlet>
    </div>
  </main>

  <!-- <footer class="shrink-0">
    <p-toolbar class="w-full">
      <div class="flex w-full items-center justify-evenly">
        <p-button icon="pi pi-user" rounded></p-button>
        <p-button icon="pi pi-plus" rounded></p-button>
        <p-button icon="pi pi-plus" rounded></p-button>
      </div>
    </p-toolbar> -->

  <!-- <router-outlet name="actions"></router-outlet> -->
  <!-- </footer> -->
</div>
